html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #FF0000;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
} */

/* .navbar{
  background-color: #006994;
}
.navbar{
  text-align: right;
} */

.navbar-nav>li>a {
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 50px;
  color: #fff;
  
}
.navbar .nav-item:hover .nav-link{ color: #FF0000;  }

/* .navbar-nav {
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;

} */

.navbar-toggler {
  padding: .20rem .50rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid white
} 

/* .nav-link {
  color: #fff !important
}  */

.wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #000;
  clip-path: polygon(91% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
  transition: 1s all
}

.navbar-header{
  float: left;
}
.navbar-brand {
  color: #fff;
  font-family: 'Allerta Stencil', sans-serif;
  margin-bottom: 4px;
  font-size: 25px;
  position: fixed;
  top: 20px;
}

.navbar-red:hover .wrapper {
  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%)
}

.navbar-brand:hover {
  color: #fff
}

.navbar-red {
  background-color:#006994;
  color: #fff
}

.all-show {
  z-index: 10
}

.row{
  border-top: 10px solid #006994; 
  padding-top: 100px;
  padding-left: 25px;
}

.card {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #006994;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease; 
   width: 90%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}